<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="<%= path === '/eCommerce' ? 'active' : ''%>">
          <a href="/eCommerce"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <%if(isAuth){ %>
          <li class="<%= path === '/eCommerce/add-product' ? 'active' : ''%>">
            <a href="/eCommerce/add-product">Add Product</a>
          </li>
          <li class="<%= path === '/eCommerce/admin-products' ? 'active' : ''%>">
            <a href="/eCommerce/admin-products">Admin Products</a>
          </li>
          <li class="<%= path === '/eCommerce/get-cart' ? 'active' : ''%>">
            <a href="/eCommerce/get-cart">Cart</a>
          </li>
        <% } %>
        <li class="<%= path === '/eCommerce/login' ? 'active' : ''%>">
          <a href="/eCommerce/login">Login</a>
        </li>
        <li class="<%= path === '/eCommerce/signup' ? 'active' : ''%>">
          <a href="/eCommerce/signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>