<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/project01nav.ejs %>

  <div class="jumbotron text-center">
    <div class="containers">
      <h1><%= title %></h1>
      <%for (e of data){ %>
        <div class="card">
          <a href="/eCommerce/update/<%= e._id %>">
            <h3><%= e.title %></h3>
            <img src="<%= e.imageUrl %>">
          </a>
          <p>Price: $<%= e.price %></p>
          <p>Summary: <%= e.summary %></p>
        </div>
      <% } %>
    </div>
  </div>
  <div class="container">
    
  </div>
</body>
</html>