<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/project01nav.ejs %>

  <div class="jumbotron text-center">
    <div class="containers">
      <h1><%= title %></h1>
      <%for (e of data){ %>
        <%if (e.featured == 'true'){ %>
          <div class="card">
            <a href="/eCommerce/<%= e._id %>">
              <h3><%= e.title %></h3>
              <img src="<%= e.imageUrl %>">
            </a>
            <p>Price: $<%= e.price %></p>
            <p>Summary: <%= e.summary %></p>
            <a href="/eCommerce/add-cart/<%= e._id %>"><button class="addButton">Add To Cart</button></a>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="container">
    
  </div>
</body>
</html>