<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/project01nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form class="project01form" action="/eCommerce/update-product" method="POST">
      <div>
        <label for="featured">Featured:</label>
        <input type="checkbox" id="featured" name="featured" value="true" <% if(data.featured == 'true'){ %> checked <% } %>>
      </div>
      <div>
        <label for="update-iPhone">iPhone:</label>
        <input type="radio" id="update-iPhone" name="category" value="iPhone" <% if(data.category == 'iPhone'){ %> checked <% } %>>
        <label for="update-samsung">samsung:</label>
        <input type="radio" id="update-samsung" name="category" value="samsung" <% if(data.category == 'samsung'){ %> checked <% } %>>
        <label for="update-other">other:</label>
        <input type="radio" id="update-other" name="category" value="other" <% if(data.category == 'other'){ %> checked <% } %>>
      </div>
      <div>
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= data.title %>">
      </div>
      <div>
        <label for="imageUrl">Image Url:</label>
        <input type="text" name="imageUrl" value="<%= data.imageUrl %>">
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" name="price" value="<%= data.price %>">
      </div>
      <div>
        <label for="summary">Summary:</label>
        <textarea name="summary" cols="50" rows="4"> <%= data.summary %> </textarea>
      </div>        
      <div>
        <label for="description">Description:</label>
        <textarea name="description" cols="50" rows="4"> <%= data.description %> </textarea>
      </div>
      <br>
      <input type="text" name="id" value="<%= data._id %>" hidden>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="container"></div>
</body>
</html>