<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <h1><%= title %></h1>
  <div class="prove09">
    <ul>
      <%for (e of data){ %>
        <li><%= e.name %></li>      
      <% } %>
    </ul>
  </div>
  <div class="pagination">
    <% if(currentPage != 1 && prevPage != 1){ %>
      <a href="/prove09/?page=1">1</a>
    <% } %>
    <% if(hasPrev){ %>
      <a href="/prove09/?page=<%= prevPage %>"><%= prevPage %></a>
    <% } %>
    <a href="/prove09/?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if(hasNext){ %>
      <a href="/prove09/?page=<%= nextPage %>"><%= nextPage %></a>
    <% } %>
    <% if(lastPage != currentPage && nextPage != lastPage){ %>
      <a href="/prove09/?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
  </div>
</div>



</body>
</html>